body {
    margin: 0 auto;
    text-align: center;
}

td {
    cursor: pointer;
}

table {
    width: 340px;
}

.container {
    margin: 0 auto;
    width: 340px;
}

p, table {
    text-align: left;
}
