body {
    margin: 0 auto;
    text-align: center;
    background: rgba(00,00,00,0.9);
    color: white;
    font-family: 'avenir', sans-serif;
}

td {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: rgba(255,255,255,0.1);
    font-size: 28px;
}

td.blue {
    font-size: 35px;
    background: rgba(000,700,255,0.6);
    color: rgba(111,255,255,1);
}

td.number {
    font-size: 18px;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    word-break: break-all;
}

table {
    padding: 0 10px;
    width: 100%;
    max-width: 400px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    margin-top: 150px;
}
